<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">
    <div class="container">
        <h3>Checkout</h3>
        <p>In order to purchase in the shopping cart, please provide us the information.</p>
        <div class="row">
            <div class="col-md-6">
                <form method="post"
                      th:action="@{/ui/make-transaction}">
                    <div class="row">
                        <div class="col">Credit Card</div>
                        <div class="col">
                            <input type="text" class="form-control" name="accountNumber">
                        </div>
                    </div>
                    <input type="submit" value="Submit Purchase">
                </form>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Next day delivery is guaranteed</li>
                    <li>A $3.0 delivery supercharge is applied to all purchase orders.</li>
                </ul>
                <div class="rounded" style="background-color: skyblue">
                    <div class="row p-2">
                        <div class="col">SubTotal:</div>
                        <div class="col" th:text="${'$' + totalPrice}"></div>
                    </div>
                    <div class="row p-2">
                        <div class="col">Delivery Charge:</div>
                        <div class="col" th:text="${'$' + deliveryCharge}"></div>
                    </div>
                    <hr>
                    <div class="row p-2">
                        <div class="col">Total</div>
                        <div class="col"
                             th:text="${'$' + #numbers.formatDecimal((totalPrice + deliveryCharge), 1, 2)}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

</body>
</html>