<!DOCTYPE html>
<html lang="en" th:fragment="layout(main)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Affable Bean</title>
    <link rel="stylesheet" href="../../static/css/bootstrap/css/bootstrap.min.css"
          th:href="@{/css/bootstrap/css/bootstrap.min.css}"
    >
    <link rel="stylesheet" href="../../static/css/bootstrap/css/app.css"
          th:href="@{/css/bootstrap/css/app.css}"
    >
</head>
<body>

<section>
    <div class="container">
        <header>
            <a th:href="@{/ui/home}">
                <img id="logo" src="../../static/images/logo.png" alt="logo.png"
                     th:src="@{/images/logo.png}"
                >
                <img id="logoText" src="../../static/images/logoText.png" alt="logoText.png"
                     th:src="@{/images/logoText.png}"
                >
                <img id="stalk" src="../../static/images/stalk.png" alt="stalk.png"
                     th:src="@{/images/stalk.png}"
                >
            </a>
        </header>
    </div>
</section>

<section>
    <div th:replace="${main}"></div>
</section>

</body>
</html>